In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression

import pandas as pd
import numpy as np
import mglearn
import scipy as sp
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

In [2]:
test = pd.read_csv("C:/Users/hclsa/Desktop/Fall2019/CMPE188/TeamProject/raw_data/test.csv")
train = pd.read_csv("C:/Users/hclsa/Desktop/Fall2019/CMPE188/TeamProject/raw_data/train.csv")

In [3]:
building_metadata_preprocessed = pd.read_csv("C:/Users/hclsa/Desktop/Fall2019/CMPE188/TeamProject/processed_data/building_metadata_preprocessed.csv")
weather_train_preprocessed = pd.read_csv("C:/Users/hclsa/Desktop/Fall2019/CMPE188/TeamProject/processed_data/weather_train_preprocessed.csv")
weather_test_preprocessed = pd.read_csv("C:/Users/hclsa/Desktop/Fall2019/CMPE188/TeamProject/processed_data/weather_test_preprocessed.csv")

In [4]:
trainTarget = train['meter_reading'].copy()
trainValues = train.drop(['meter_reading'], axis=1)
trainValues.head()

   building_id  meter            timestamp
0            0      0  2016-01-01 00:00:00
1            1      0  2016-01-01 00:00:00
2            2      0  2016-01-01 00:00:00
3            3      0  2016-01-01 00:00:00
4            4      0  2016-01-01 00:00:00

In [5]:
# trainValues['timestamp'] = pd.to_datetime(trainValues['timestamp'])
# trainValues.head()

In [6]:
train_and_building = trainValues.merge(building_metadata_preprocessed, on=['building_id'], how='left')

In [7]:
train_building_weather = train_and_building.merge(weather_train_preprocessed, on=['site_id', 'timestamp'], how='left')

In [24]:
# NEWtrainValues = train_and_building.drop(['timestamp'], axis=1)
NEWtrainValues = train_building_weather.drop(['timestamp', 'building_id'], axis=1)
NEWtrainValues.head()

,meter,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,0,0,0.008173,0.923077,0.08,0.708279,0.666667,0.900164,0.003054,0.666235,0.0,0.0
1,0,0,0,0.002786,0.888889,0.08,0.708279,0.666667,0.900164,0.003054,0.666235,0.0,0.0
2,0,0,0,0.005822,0.777778,0.08,0.708279,0.666667,0.900164,0.003054,0.666235,0.0,0.0
3,0,0,0,0.026754,0.871795,0.08,0.708279,0.666667,0.900164,0.003054,0.666235,0.0,0.0
4,0,0,0,0.132985,0.641026,0.12,0.708279,0.666667,0.900164,0.003054,0.666235,0.0,0.0

In [25]:
NEWtrainValues.count()

meter                 20216100
site_id               20216100
primary_use           20216100
square_feet           20216100
year_built            20216100
floor_count           20216100
air_temperature       20125605
cloud_coverage        20125605
dew_temperature       20125605
precip_depth_1_hr     20125605
sea_level_pressure    20125605
wind_direction        20125605
wind_speed            20125605
dtype: int64

In [26]:
meanImputer = SimpleImputer(missing_values=np.nan, strategy='mean')
NEWtrainValuesImputed = meanImputer.fit_transform(NEWtrainValues)
NEWtrainValuesImputed = pd.DataFrame(NEWtrainValuesImputed, columns = NEWtrainValues.columns)

In [27]:
NEWtrainValuesImputed.count()

meter                 20216100
site_id               20216100
primary_use           20216100
square_feet           20216100
year_built            20216100
floor_count           20216100
air_temperature       20216100
cloud_coverage        20216100
dew_temperature       20216100
precip_depth_1_hr     20216100
sea_level_pressure    20216100
wind_direction        20216100
wind_speed            20216100
dtype: int64

In [28]:
X_train, X_test, y_train, y_test = train_test_split(NEWtrainValuesImputed, trainTarget, random_state=0)

In [29]:
reg = LinearRegression().fit(X_train, y_train)

In [30]:
print("Test set score: {:.3f}".format(reg.score(X_test, y_test)))

Test set score: 0.001

In [ ]:
from sklearn.ensemble import RandomForestRegressor


regr = RandomForestRegressor(random_state=0, n_estimators=3)
regr.fit(X_train, y_train)


print("Test set score: {:.3f}".format(regr.score(X_test, y_test)))

In [ ]:
# 0.226