In [37]:
from sklearn import preprocessing
from sklearn.impute import SimpleImputer

import pandas as pd
import numpy as np

In [38]:
weather_train = pd.read_csv("C:/Users/hclsa/Desktop/Fall2019/CMPE188/TeamProject/raw_data/weather_train.csv")
weather_test = pd.read_csv("C:/Users/hclsa/Desktop/Fall2019/CMPE188/TeamProject/raw_data/weather_test.csv")

Replacing values in precip_depth_1_hr that have a '-1' reading with '0'

In [46]:
weather_train.loc[weather_train['precip_depth_1_hr'] < 0, 'precip_depth_1_hr'] = 0
weather_test.loc[weather_test['precip_depth_1_hr'] < 0, 'precip_depth_1_hr'] = 0

Separating the Timestamp and Site ID, as we do not want to do preprocessing on it yet

In [47]:
weather_trainTime = weather_train['timestamp'].copy()
weather_trainSiteID = weather_train['site_id'].copy()
weather_trainToImpute = weather_train.drop(['timestamp', 'site_id'], axis=1)
# ===================================
weather_testTime = weather_test['timestamp'].copy()
weather_testSiteID = weather_test['site_id'].copy()
weather_testToImpute = weather_test.drop(['timestamp', 'site_id'], axis=1)

Now we impute the NaN values of all columns with the mean value

In [48]:
meanImputer = SimpleImputer(missing_values=np.nan, strategy='mean')
weather_trainImputed = meanImputer.fit_transform(weather_trainToImpute)
weather_trainImputed = pd.DataFrame(weather_trainImputed, columns = weather_trainToImpute.columns)
# ===================================
weather_testImputed = meanImputer.fit_transform(weather_testToImpute)
weather_testImputed = pd.DataFrame(weather_testImputed, columns = weather_testToImpute.columns)

Now we do min max scaling (normalizing to [0,1])

In [49]:
minMaxScaler = preprocessing.MinMaxScaler()
weather_trainImputedScaled = minMaxScaler.fit_transform(weather_trainImputed)
weather_trainImputedScaled = pd.DataFrame(weather_trainImputedScaled, columns = weather_trainImputed.columns)
# ===================================
weather_testImputedScaled = minMaxScaler.fit_transform(weather_testImputed)
weather_testImputedScaled = pd.DataFrame(weather_testImputedScaled, columns = weather_testImputed.columns)

Next we join the timestamp, site ID and all the imputed/scaled values

In [50]:
weather_trainFinal = pd.concat([weather_trainTime, weather_trainSiteID], axis=1)
weather_trainFinal = pd.concat([weather_trainFinal, weather_trainImputedScaled], axis=1)
# ===================================
weather_testFinal = pd.concat([weather_testTime, weather_testSiteID], axis=1)
weather_testFinal = pd.concat([weather_testFinal, weather_testImputedScaled], axis=1)

Finally, we save the dataframe as a CSV file

In [51]:
weather_trainFinal.to_csv('weather_train_preprocessed.csv', index = False)
weather_testFinal.to_csv('weather_test_preprocessed.csv', index = False)

In [52]:
weather_trainFinal.head()

,timestamp,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,2016-01-01 00:00:00,0,0.708279,0.666667,0.900164,0.003054,0.666235,0.000000,0.000000
1,2016-01-01 01:00:00,0,0.700394,0.238812,0.918167,0.000000,0.672704,0.194444,0.078947
2,2016-01-01 02:00:00,0,0.679369,0.222222,0.918167,0.000000,0.672704,0.000000,0.000000
3,2016-01-01 03:00:00,0,0.657030,0.222222,0.909984,0.000000,0.671410,0.000000,0.000000
4,2016-01-01 04:00:00,0,0.642576,0.222222,0.900164,0.000000,0.670116,0.694444,0.136842

In [53]:
weather_testFinal.head()

,timestamp,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,2017-01-01 00:00:00,0,0.600785,0.444444,0.742710,0.001948,0.632522,0.277778,0.148760
1,2017-01-01 01:00:00,0,0.600785,0.222222,0.761578,0.000000,0.640205,0.361111,0.128099
2,2017-01-01 02:00:00,0,0.578534,0.000000,0.761578,0.000000,0.638924,0.388889,0.128099
3,2017-01-01 03:00:00,0,0.592932,0.000000,0.770154,0.000000,0.642766,0.388889,0.128099
4,2017-01-01 04:00:00,0,0.586387,0.222222,0.770154,0.000000,0.644046,0.361111,0.107438